.speaker-list {
  ion-label {
    margin: 0;
  }

  .item-inner {
    padding: 0;
  }

  .virtual-scroll {
    margin-bottom: 500px;
  }

  .speaker {
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    width: 100%;
  }

  .speaker-slides-link {
    text-decoration: none;
  }

}
