<ion-header>
  <ion-navbar>
    <ion-title>Speakers</ion-title>
  </ion-navbar>
</ion-header>

<ion-content center class="outer-content speaker-list">
  <ion-list no-lines center *ngFor="let speaker of speakers">
    <ion-card center wrap>
      <div>
        <img style="max-height:380px" [src]="getSpeakerImage(speaker)"/>
      </div>
      <ion-card-content>
        <ion-card-title>
          {{speaker.name}}
        </ion-card-title>
        <button text-wrap wrap ion-item *ngFor="let session of speaker.sessions" (click)="goToSessionDetail(session)">
          <h3 wrap [innerHTML]="session.name"></h3>
        </button>
      </ion-card-content>
      <hr>
      <ion-row no-padding>
        <ion-col>
          <button twitter (click)="goToSpeakerDetail(speaker)" clear>
            <ion-icon name="contact"></ion-icon>
            Profile
          </button>    
        </ion-col>
        <ion-col text-center>
        <button clear (click)="openPagInNewWindow(speaker.contentLink)" item-right *ngIf="speaker.contentLink">
          <ion-icon name="download"></ion-icon>
            Slides
          </button>    
        </ion-col>
        <ion-col text-right>
          <button twitter (click)="goToSpeakerTwitter(speaker)" clear *ngIf="speaker.twitter">
            <ion-icon name="logo-twitter"></ion-icon>
            Tweet
          </button>  
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-list>
</ion-content>
