ion-searchbar{
  border:0px;
}

ion-toolbar{
    padding: 7px;
    padding-top: 0px;
    padding-bottom: 2px;
    min-height: 3px!important;
}

ion-header ion-toolbar .toolbar-background{
  background-color: white;
}

.toolbar-background{
  border-bottom: 0px;

}

ion-footer{
    padding: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
}

td.scheduletoggle{
  padding: 1px;
}

td.daytoggle{
  padding: 2px;
  padding-top: 0px;
}

button.scheduletogglebutton{
  margin: 0;
  font-size: 12px;
}

$categories: (
 ionic: color($colors, primary),
 room1: #188faf,
 socialarea:  #ef5533,
 room2:  #6fcdcf,
 room3: #0a485f
);

@function auxiliary-categories() {
  @return map-remove($categories);
}

.schedule {
  @each $location, $value in auxiliary-categories() {
   ion-item-sliding[location=#{$location}] ion-label {
     border-left: 0px solid;
     padding-left: 0px;
   }
  }

  ion-item{
    padding: 0px;
  }
}

ion-label{
  margin: 3px;
}
.item-inner{
  padding: 0;
}

.item .item-inner{
  padding: 0;
}

date-group{
  text-align: center;
  font-size: 20px;
  background-color: #f2f2f2;
}

ion-footer{
  background-color: white;
}
.time-group{
  background-color: #f7f7f7;
}
.virtual-position{
  width: 100%;
}

.group-passed{
  background-color: #f7f7f7;
  text-decoration: line-through;
}
