.session-description {
  white-space: pre-wrap;
}

.speaker-button {
  color: Black;
  padding: 25px 20px 25px 20px;
}

.speaker-avatar {
  margin-right: 5px;
}

.speaker-avatar-image {
  object-fit: cover;
}

.stars {
  color: #989898;
  cursor: pointer;
  font-size: 4rem;
  transition: color .4s ease-in-out;
  text-align: center;
}
.star.active {
  color: #FFD600;
}

.session-header {
  text-align: center;
}
