<ion-header>
  <ion-navbar>
    <ion-title>Session</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3 class="session-header" [innerHTML]="session.name"></h3>

  <ion-divider>
    <ion-item no-lines>
      <div class="stars">
        <star *ngFor="let star of stars" [active]="star <= _rating" (rate)="onRate($event)" [position]="star">
        </star>
      </div>
    </ion-item>
    <ion-item>
      <ion-label floating>Write a comment...</ion-label>
      <ion-textarea type="text" [(ngModel)]="comment"></ion-textarea>\
    </ion-item>
    <button padding start margin ion-button small (click)="postRating(session)" [disabled]="_rating === 0 && comment === ''">Submit Rating</button>
  </ion-divider>
  <br>

  <ion-card>
    <center>
      <button margin-top light outline class="speaker-button" *ngFor="let speaker of session.speakers" (click)="goToSpeakerDetail(speaker)">
        <ion-avatar item-left>
          <img [src]="getSpeakerImage(speaker)">
        </ion-avatar>
        {{speaker.name}}
      </button>
      <br/>
      <button clear twitter (click)="goToTwitter(session.speakers)" *ngIf="hasTwitterAccounts(session.speakers)"><ion-icon name="logo-twitter"></ion-icon>Tweet</button>
    </center>

    <h2 text-center>{{session.date}}</h2>
    <h5 text-center>{{session.timeStart}} - {{session.timeEnd}}</h5>
    <ion-card-header>{{session.locationName}}</ion-card-header>
    <ion-card-content class="session-description" [innerHTML]="session.description"></ion-card-content>
  </ion-card>
</ion-content>
