<ion-header>
  <ion-navbar>
    <ion-title>Sponsors</ion-title>

  </ion-navbar>
</ion-header>

<ion-navbar *navbar>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>Sponsors</ion-title>
</ion-navbar>

<ion-content padding class="sponsor-info">
  <h3 text-center>
    Our proud sponsors:
  </h3>

  <br/>

  <ion-grid>
    <div *ngFor="let group of sponsors">
      <div *ngFor="let sponsor of group.sponsors">
        <ion-row>
          <ion-col col-12 class="sponsor-detail">
            <ion-badge [ngStyle]="{'background-color': getGroupBadgeColor(group)}" item-end class="sponsor-badge">{{getSponsorGroupSymbol(group)}}</ion-badge>    
            <a href="#" (click)="openPagInNewWindow(sponsor.url)">
              <img class="sponsor-logo" [src]="sponsor.imageSrc" width="200px">
            </a>
          </ion-col>
        </ion-row>
      </div>
    </div>
  </ion-grid>
  
 <br/>
  <h6 text-center>This hybrid app is an open source contribution by 
    <a href="#"onclick="window.open('http://www.nreality.com/', '_system', 'location=yes'); return false;">nReality</a> 
    based on <a href="#" onclick="window.open('https://github.com/driftyco/ionic-conference-app', '_system', 'location=yes'); return false;">Driftyco's Ionic 2 demo</a>. 
    Feel free to fork it for your own conference or send us a pull request to modify at
  <a href="#" onclick="window.open('https://github.com/nReality/agile-africa-2018', '_system', 'location=yes'); return false;">https://github.com/nReality/agile-africa-2018</a>.
</h6>

</ion-content>
